
@import 'item';
@import 'panel';
@import 'button';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  #root {
    display: grid;
    justify-content: center;
    height: 100%;
    align-content: space-evenly;
  }
  
 .container {
    display: grid;
    grid-template-columns: 3fr 1fr;    
    grid-gap: 20px;
    border: 3px solid #bdc3c7;
}