.board {
    display: flex;
    flex-grow: 1;
    flex-wrap:wrap;
    margin: -10px 10px 0px -10px;

    > .board__item {
        position: relative;
        display: inline-block;
        flex-grow: 1;
        font-family: 'Special Elite', cursive; 
        background-color: rgb(232, 232, 232);
        margin:10px 0 0 10px;
        height:100px;
        font-size: 20px;    
        width: calc(100% * (1/4) - 10px - 1px);

        &.board__item--empty {
            visibility: hidden;
        }

        &.board__item--valid {
            background: #A5D6A7;

            &:hover {
                background: #66BB6A
            }
        }
    }
}

.board__text {
    position: absolute;  
    width: 100%;
    margin: 0;
    top: 50%;   
    text-align: center;                 
    transform: translate(0, -50%);
}

.container {
    display: flex;
    margin: auto;
    width: 50%;
    border: 3px solid #bdc3c7;
    padding: 10px;
}
.notice {
    font-size: 24px;
}