@import 'base';
@import 'item';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  width: 80%;
  margin: auto;
}

.main-content {
  display: flex;

}


.isobar-item {

  .isobar-item__list {
    background: grey;
    padding: 16px;
    width: 250px;
   }


  .isobar-item--item {

  }

  .isobar-item--isDragging {
    background: red;
  }




  .isobar-item--margin {
    
  }
}