.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ecf0f1;

    a span {
      background: #FFF;
      display: block;
      padding: 5px 15px;
      border-radius: 5px;
      border: 2px solid #000;
    }
}

